@charset "UTF-8";
/*ОБНУЛЕНИЕ СТИЛЕЙ*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, taxtarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------------*/
[class*=__container] {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

body {
  font-family: Montserrat;
  font-size: 20px;
}

.footer {
  margin-top: auto;
}

.subtitle {
  font-weight: 400;
  font-size: 40px;
  color: #000;
  line-height: 120%;
}
@media (max-width: 1200px) {
  .subtitle {
    font-size: calc(16px + 24 * (100vw - 320px) / 880);
  }
}

.title {
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
}

.button {
  background-color: transparent;
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s, border ease-in-out 0.2s;
  transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s, border ease-in-out 0.2s;
}
@media (max-width: 1200px) {
  .button {
    margin-top: calc(0px + 12 * (100vw - 320px) / 880);
  }
}
.button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
@media (max-width: 480px) {
  .button {
    padding: 9px 12px;
    border-radius: 5px;
  }
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 101;
}
.header__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 80px;
}
@media (max-width: 767.98px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__container .decor {
  display: none;
}
@media (max-width: 767.98px) {
  .header__container .decor {
    display: none;
    position: fixed;
    top: 0;
    left: 0px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: calc(100% + 40px);
    height: 80px;
    background-color: #ffffff;
    z-index: 105;
  }
}
.header__container .decor-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categoryes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.categoryes .options__item {
  display: none;
}
@media (max-width: 767.98px) {
  .categoryes {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 50px;
    overflow-y: auto;
    -webkit-transition: left ease-in-out 0.3s;
    transition: left ease-in-out 0.3s;
    z-index: 100;
  }
  .categoryes .options__item {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .categoryes .options__item:nth-child(3) {
    margin-bottom: 50px;
  }
  .categoryes .options__item .search__icon, .categoryes .options__item .options__icon {
    margin-right: 20px;
  }
  .categoryes .options__item .search__icon {
    pointer-events: all;
  }
  .categoryes .options__item input {
    border: 0px;
    font-size: 24px;
  }
  .categoryes .options__item input::-webkit-input-placeholder {
    font-size: 24px;
    color: #9F9F9F;
    text-transform: uppercase;
  }
  .categoryes .options__item input::-moz-placeholder {
    font-size: 24px;
    color: #9F9F9F;
    text-transform: uppercase;
  }
  .categoryes .options__item input:-ms-input-placeholder {
    font-size: 24px;
    color: #9F9F9F;
    text-transform: uppercase;
  }
  .categoryes .options__item input::-ms-input-placeholder {
    font-size: 24px;
    color: #9F9F9F;
    text-transform: uppercase;
  }
  .categoryes .options__item input::placeholder {
    font-size: 24px;
    color: #9F9F9F;
    text-transform: uppercase;
  }
  .categoryes .options__item span {
    font-size: 24px;
    color: #9F9F9F;
    text-transform: uppercase;
  }
}
.categoryes__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  z-index: 99;
  font-size: 18px;
}
.categoryes__el:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 1200px) {
  .categoryes__el:not(:last-child) {
    margin-right: calc(28px + 22 * (100vw - 767.98px) / 432.02);
  }
}
@media (max-width: 1200px) {
  .categoryes__el {
    font-size: calc(14px + 4 * (100vw - 767.98px) / 432.02);
  }
}
@media (max-width: 767.98px) {
  .categoryes__el {
    height: 3rem;
    min-height: 40px;
    font-size: 24px;
  }
}
.categoryes__el_active {
  font-weight: 700;
}
.categoryes__el_active a {
  cursor: default;
}
.categoryes__el_active a::after {
  height: 2px;
  width: 100%;
  left: 0;
}
.categoryes__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-transform: uppercase;
  color: #000;
  position: relative;
}
.categoryes__link::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 0;
  border-radius: 2px;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: #000;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.categoryes__link:hover::after {
  width: 100%;
  left: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  z-index: 110;
}
@media (max-width: 1200px) {
  .logo {
    font-size: calc(20px + 12 * (100vw - 320px) / 880);
  }
}
.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}
@media (max-width: 767.98px) {
  .logo a {
    padding: 0 40px;
  }
}
.logo img {
  max-width: 100%;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.options__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
  position: relative;
}
@media (max-width: 767.98px) {
  .options__wrapper {
    width: auto;
  }
}
.options__item {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.options__icon {
  max-width: 100%;
}

.search {
  width: auto;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  display: none;
  z-index: 111;
}
@media (min-width: 767.98px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 100%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .search:hover {
    background-color: #fff;
  }
  .search:hover input {
    width: 155px;
    opacity: 1;
    pointer-events: all;
    margin-right: 8px;
    padding: 0 8px;
  }
  .search:hover img {
    width: 20px;
  }
  .search:hover a {
    pointer-events: none;
  }
}
.search__input {
  height: 30px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  font-size: 18px;
  border-bottom: 1px solid #000;
}
@media (min-width: 767.98px) {
  .search__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 0;
  }
}
.search__btn {
  background: transparent;
}
.search__icon {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  margin: auto 0;
}

@media (max-width: 767.98px) {
  .profile {
    display: none;
  }
}

@media (min-width: 767.98px) {
  .profile, .cart {
    -webkit-transition: -webkit-transform ease-in-out 0.2s;
    transition: -webkit-transform ease-in-out 0.2s;
    transition: transform ease-in-out 0.2s;
    transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  }
  .profile:hover, .cart:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

.cart {
  z-index: 110;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 110;
  width: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  height: 18px;
  margin: auto 0;
  background-color: transparent;
}
@media (min-width: 767.98px) {
  .burger {
    display: none;
  }
}
.burger span {
  display: block;
  height: 2px;
  border-radius: 5px;
  background-color: #000;
  -webkit-transition: 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.25s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.burger span:nth-child(1) {
  width: 70%;
}
.burger span:nth-child(2) {
  width: 100%;
}
.burger span:nth-child(3) {
  width: 70%;
}

.nike-logo {
  display: none;
}
@media (max-width: 767.98px) {
  .nike-logo {
    display: block;
    margin: 0 auto;
    margin-top: 90px;
  }
}

.menu-active {
  left: 0;
  top: 0;
}

.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 0.7px);
          transform: rotate(45deg) translate(4px, 0.7px);
  width: 50%;
}
.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.active span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(5px, -10.5px);
          transform: rotate(45deg) translate(5px, -10.5px);
  width: 50%;
}

.main__poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}
@media (max-width: 991.98px) {
  .main__poster {
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
        grid-template-areas: "top" "bottom";
  }
}

.poster-left {
  grid-area: bottom;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 991.98px) {
  .poster-left {
    width: 50%;
  }
}
.poster-left__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: url("../img/poster/poster-left-bg.png") no-repeat 100%;
  background-size: 700px;
  background-position: right bottom;
}
@media (min-width: 991.98px) {
  .poster-left__article {
    max-width: 650px;
    padding: 15px 0;
    padding-right: 140px;
  }
}
@media (max-width: 1330px) {
  .poster-left__article {
    max-width: calc(50vw - 15px);
  }
}
@media (max-width: 991.98px) {
  .poster-left__article {
    max-width: none;
    padding: 15px;
    padding-right: 150px;
    padding-right: calc(80px + 70 * (100vw - 320px) / 671.98);
    background-size: calc(400px + 300 * (100vw - 320px) / 671.98);
  }
}
@media (max-width: 1200px) {
  .poster-left__title {
    font-size: calc(16px + 24 * (100vw - 320px) / 880);
  }
}
.poster-left__paragraph {
  font-weight: 900;
  font-size: 20px;
  line-height: 115%;
  margin: 30px 0;
  overflow: auto;
}
@media (max-width: 1200px) {
  .poster-left__paragraph {
    margin-top: calc(12px + 18 * (100vw - 320px) / 880);
    margin-bottom: calc(12px + 18 * (100vw - 320px) / 880);
    font-size: calc(12px + 8 * (100vw - 320px) / 880);
  }
}
.poster-left__paragraph::-webkit-scrollbar {
  width: 10px;
}
.poster-left__paragraph::-webkit-scrollbar-track {
  background: transparent;
}
.poster-left__paragraph::-webkit-scrollbar-thumb {
  background: #4A4A4A;
}
@media (max-width: 480px) {
  .poster-left__paragraph {
    max-height: 58px;
  }
}
.poster-left__button {
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .poster-left__button {
    font-size: calc(10px + 6 * (100vw - 320px) / 880);
  }
}

.poster-right {
  grid-area: top;
  height: 300px;
}

@media (max-width: 991.98px){
  .poster-left {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .poster-right {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
@media (min-width: 991.98px) {
  .poster-right {
    width: 50%;
  }
}
@media (max-width: 991.98px) {
  .poster-right {
    height: calc(165px + 135 * (100vw - 320px) / 671.98);
  }
}

.poster-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new__image {
  width: 100%;
}

.top-decor-img {
  max-width: 100%;
}

.new__container {
  width: 100%;
  padding: 0 50px;
  max-width: 1400px;
}
@media (max-width: 567.98px) {
  .new__container {
    padding: 0 15px;
  }
}
.new__box {
  background-color: #fff;
}
.new .card-list {
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 68px;
}
@media (max-width: 1023.98px) {
  .card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .card-list {
    gap: calc(50px + 18 * (100vw - 320px) / 880);
  }
}
.card-list__card {
  width: 50%;
}
@media (max-width: 1023.98px) {
  .card-list__card {
    width: 100%;
  }
}
.card-list__card:hover .card__product-image {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
.card-list__card:hover .card__product-box {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EFEFEF;
  border-radius: 18px;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
  padding: 0 24px;
  padding-left: 68px;
  height: 270px;
}
@media (max-width: 1500px) {
  .card__wrapper {
    padding-left: calc(30px + 38 * (100vw - 320px) / 1180);
  }
}
@media (max-width: 1200px) {
  .card__wrapper {
    padding-top: calc(14px + 10 * (100vw - 320px) / 880);
    padding-bottom: calc(14px + 10 * (100vw - 320px) / 880);
  }
}
@media (max-width: 567.98px) {
  .card__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}
.card__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  margin-top: 35px;
  width: 50%;
}
@media (max-width: 1200px) {
  .card__article {
    margin-top: calc(0px + 35 * (100vw - 320px) / 880);
  }
}
@media (max-width: 567.98px) {
  .card__article {
    width: 100%;
  }
}
.card__new {
  font-weight: 700;
  font-size: 48px;
  color: #FF3939;
  font-style: italic;
  text-transform: uppercase;
  line-height: 115%;
}
@media (max-width: 1200px) {
  .card__new {
    font-size: calc(16px + 32 * (100vw - 320px) / 880);
  }
}
.card__title {
  z-index: 10;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1200px) {
  .card__title {
    font-size: calc(16px + 24 * (100vw - 320px) / 880);
  }
}
.card__title:hover {
  color: #698de4;
}
.card__title_small {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.01em;
}
.card__price {
  font-size: 20px;
  margin-top: 30px;
}
@media (max-width: 1200px) {
  .card__price {
    margin-top: calc(12px + 18 * (100vw - 320px) / 880);
    font-size: calc(14px + 6 * (100vw - 320px) / 880);
  }
}
.card__discount {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  color: #FF3939;
}
@media (max-width: 1200px) {
  .card__discount {
    font-size: calc(16px + 8 * (100vw - 320px) / 880);
  }
}
.card__discount span {
  font-size: 30px;
}
@media (max-width: 1200px) {
  .card__discount span {
    font-size: calc(18px + 12 * (100vw - 320px) / 880);
  }
}
.card__descr {
  font-size: 20px;
  line-height: 120%;
  color: #202727;
  margin: 20px 0;
}
@media (max-width: 1200px) {
  .card__descr {
    font-size: calc(14px + 10 * (100vw - 320px) / 880);
    margin-top: calc(5px + 15 * (100vw - 320px) / 880);
    margin-bottom: calc(5px + 15 * (100vw - 320px) / 880);
  }
}
.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.card__button svg {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}
.card__button .button-arrow {
  -webkit-transition: fill ease-in-out 0.2s;
  transition: fill ease-in-out 0.2s;
}
.card__button:hover {
  background-color: #333;
}
.card__button:hover .button-arrow {
  fill: #fff;
}
.card__button:hover svg {
  -webkit-transform: rotate(0) scale(1.2);
          transform: rotate(0) scale(1.2);
}
.card__button_txt {
  border-radius: 16px;
  padding: 15px 36px;
  height: auto;
  width: auto;
  background-color: #000;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
@media (max-width: 1200px) {
  .card__button_txt {
    font-size: calc(16px + 4 * (100vw - 320px) / 880);
    padding-top: calc(8px + 7 * (100vw - 320px) / 880);
    padding-bottom: calc(8px + 12 * (100vw - 320px) / 880);
    padding-left: calc(16px + -1 * (100vw - 320px) / 880);
    padding-right: calc(16px + 4 * (100vw - 320px) / 880);
  }
}
.card__product-box {
  width: 50%;
  margin-left: -70px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  max-height: 300px;
}
@media (max-width: 567.98px) {
  .card__product-box {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    margin: 0;
    width: 70%;
  }
}
@media (max-width: 479.98px) {
  .card__product-box {
    width: 100%;
  }
}
.card__product-image {
  -webkit-filter: drop-shadow(0px 22px 45px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 22px 45px rgba(0, 0, 0, 0.25));
  -webkit-transform: rotate(-28.75deg);
          transform: rotate(-28.75deg);
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  max-width: 150%;
}
@media (max-width: 567.98px) {
  .card__product-image {
    max-width: 100%;
    -webkit-transform: none;
            transform: none;
  }
}
.card_vertical {
  width: auto;
}
.card_vertical:hover .card__product-image {
  max-width: 100%;
  -webkit-transform: rotate(-20deg) scale(1.5) translateX(-20px) translateY(20px);
          transform: rotate(-20deg) scale(1.5) translateX(-20px) translateY(20px);
}
@media (max-width: 480px) {
  .card_vertical:hover .card__product-image {
    -webkit-transform: rotate(-20deg) scale(1.9) translateX(-10px);
            transform: rotate(-20deg) scale(1.9) translateX(-10px);
  }
}
.card_vertical .card__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 580px;
  padding: 0;
  position: relative;
}
@media (max-width: 767.98px) {
  .card_vertical .card__wrapper {
    height: calc(336px + 244 * (100vw - 320px) / 447.98);
  }
}
.card_vertical .card__brand {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  font-weight: 900;
  font-style: italic;
  font-size: 160px;
  color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
@media (max-width: 1200px) {
  .card_vertical .card__brand {
    font-size: calc(80px + 80 * (100vw - 320px) / 880);
  }
}
.card_vertical .card__article {
  width: 100%;
  padding: 30px 36px;
  z-index: 10;
}
@media (max-width: 1200px) {
  .card_vertical .card__article {
    padding-top: calc(24px + 6 * (100vw - 320px) / 880);
    padding-bottom: calc(24px + 6 * (100vw - 320px) / 880);
    padding-left: calc(22px + 14 * (100vw - 320px) / 880);
    padding-right: calc(22px + 14 * (100vw - 320px) / 880);
  }
}
.card_vertical .card__product-box {
  margin: 120px 0;
  -webkit-transform: none;
          transform: none;
  z-index: 10;
}
@media (max-width: 567.98px) {
  .card_vertical .card__product-box {
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .card_vertical .card__product-box {
    margin-bottom: 20px;
    margin-top: calc(40px + 80 * (100vw - 320px) / 160);
  }
}
.card_vertical .card__product-image {
  max-width: 100%;
  -webkit-transform: rotate(-30deg) scale(1.5) translateX(-20px);
          transform: rotate(-30deg) scale(1.5) translateX(-20px);
}
@media (max-width: 567.98px) {
  .card_vertical .card__product-image {
    -webkit-transform: rotate(-30deg) scale(1) translateX(-15px);
            transform: rotate(-30deg) scale(1) translateX(-15px);
  }
}
@media (max-width: 480px) {
  .card_vertical .card__product-image {
    -webkit-transform: rotate(-30deg) scale(0.8) translateX(-25px);
            transform: rotate(-30deg) scale(0.8) translateX(-25px);
  }
}
.card_vertical .card__button {
  margin-left: auto;
}

.top {
  background-color: #fff;
}
.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 0 30px;
  max-width: 1360px;
}
@media (max-width: 1360px) {
  .top__container {
    max-width: none;
    padding: 0 15px;
  }
}
.top__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top__title {
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 30px 0;
}
@media (max-width: 1200px) {
  .top__title {
    margin-top: calc(5px + 5 * (100vw - 320px) / 880);
    margin-bottom: calc(10px + 0 * (100vw - 320px) / 880);
    font-size: calc(24px + 56 * (100vw - 320px) / 880);
  }
}
.top .subtitle {
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}
.slider__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  margin-top: 70px;
}
@media (max-width: 1200px) {
  .slider__head {
    margin-top: calc(25px + 45 * (100vw - 320px) / 880);
  }
}
.slider__title, .category__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}
@media (max-width: 1200px) {
  .slider__title, .category__title {
    font-size: calc(16px + 24 * (100vw - 320px) / 880);
  }
}
.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
@media (max-width: 1200px) {
  .slider__arrows {
    gap: calc(10px + 15 * (100vw - 320px) / 880);
  }
}

.swiper-arrow-prev, .swiper-arrow-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #F5F5F5;
  position: relative;
}
@media (max-width: 1200px) {
  .swiper-arrow-prev, .swiper-arrow-next {
    width: calc(25px + 30 * (100vw - 320px) / 880);
    height: calc(25px + 30 * (100vw - 320px) / 880);
  }
}
.swiper-arrow-prev::after, .swiper-arrow-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 42%;
  height: 100%;
  background: url("../img/icons/arrow-black.svg") no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-arrow-prev::after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

.swiper-button-disabled {
  background-color: #C6C6C6;
}

@media (max-widht: 767.98px) {
  .swiper-slide-prev, .swiper-slide-next {
    pointer-events: none;
  }
}

.category__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767.98px) {
  .category__container {
    padding: 0;
  }
}
.category__title {
  margin: 50px 0 30px 0;
}
@media (max-width: 1200px) {
  .category__title {
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 880);
    margin-top: calc(0px + 50 * (100vw - 320px) / 880);
  }
}
@media (max-width: 767.98px) {
  .category__title {
    margin-left: 15px;
  }
}

.category-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.category-slide:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.category-slide__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767.98px) {
  .category-slide__left {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.category-slide__title {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.category-slide__title:hover {
  color: #698de4;
}
@media (max-width: 767.98px) {
  .category-slide__title {
    color: #fff;
  }
}
.category-slide__right {
  width: 50%;
  overflow: hidden;
  height: 100%;
}
.category-slide__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 767.98px) {
  .category-slide__right {
    width: 100%;
  }
}

.main__good .card-list {
  margin: 100px 0;
}
@media (max-width: 1200px) {
  .main__good .card-list {
    margin-top: calc(50px + 50 * (100vw - 320px) / 880);
    margin-bottom: calc(50px + 50 * (100vw - 320px) / 880);
  }
}
.main__good .card__article {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 567.98px) {
  .main__good .card__article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 567.98px) {
  .main__good .card__product-box {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@media (max-width: 567.98px) {
  .main__good .card__descr {
    text-align: center;
  }
}

.good__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.good__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  font-size: 40px;
}
@media (max-width: 1200px) {
  .good__title {
    font-size: calc(24px + 16 * (100vw - 320px) / 880);
  }
}
@media (max-width: 767.98px) {
  .good__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.05em;
  }
  .good__title span:nth-child(1) {
    margin-right: auto;
  }
  .good__title span:nth-child(2) {
    margin: 0 auto;
  }
  .good__title span:nth-child(3) {
    margin-left: auto;
  }
}

.top-part {
  margin-top: 100px;
}
@media (max-width: 1200px) {
  .top-part {
    margin-top: calc(50px + 50 * (100vw - 320px) / 880);
  }
}

.bottom-part__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .bottom-part__title {
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 880);
    font-size: calc(16px + 24 * (100vw - 320px) / 880);
  }
}

.nike-membership {
  background: url("../img/membership.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 44px 0;
}
@media (max-width: 1200px) {
  .nike-membership {
    padding-top: calc(12px + 32 * (100vw - 320px) / 880);
    padding-bottom: calc(10px + 34 * (100vw - 320px) / 880);
  }
}
.nike-membership__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}
.nike-membership__title {
  font-weight: 900;
  font-size: 40px;
  max-width: 40%;
}
@media (max-width: 1200px) {
  .nike-membership__title {
    font-size: calc(16px + 24 * (100vw - 320px) / 880);
  }
}
.nike-membership__join {
  margin: 25px 0;
  font-size: 20px;
  line-height: 120%;
}
@media (max-width: 1200px) {
  .nike-membership__join {
    font-size: calc(12px + 8 * (100vw - 320px) / 880);
    margin-top: calc(5px + 20 * (100vw - 320px) / 880);
    margin-bottom: calc(10px + 15 * (100vw - 320px) / 880);
  }
}
.nike-membership__button {
  font-size: 16px;
  line-height: 120%;
}
@media (max-width: 1200px) {
  .nike-membership__button {
    font-size: calc(10px + 6 * (100vw - 320px) / 880);
  }
}

.main__message {
  background-color: #fff;
  padding: 100px 0;
}
@media (max-width: 1200px) {
  .main__message {
    padding-top: calc(40px + 60 * (100vw - 320px) / 880);
    padding-bottom: calc(40px + 60 * (100vw - 320px) / 880);
  }
}

.message__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.message__message {
  text-align: center;
  font-size: 24px;
  line-height: 110%;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .message__message {
    font-size: calc(18px + 6 * (100vw - 320px) / 880);
  }
}
.message__title {
  margin: 30px 0;
  text-align: center;
  font-size: 48px;
}
@media (max-width: 1200px) {
  .message__title {
    margin-top: calc(15px + 15 * (100vw - 320px) / 880);
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 880);
    font-size: calc(28px + 20 * (100vw - 320px) / 880);
  }
}
.message__image {
  width: 80px;
}
@media (max-width: 1200px) {
  .message__image {
    width: calc(50px + 30 * (100vw - 320px) / 880);
  }
}

.footer {
  background-color: #000;
  padding: 50px 0;
}
@media (max-width: 1200px) {
  .footer {
    padding-top: calc(30px + 20 * (100vw - 320px) / 880);
    padding-bottom: calc(30px + 20 * (100vw - 320px) / 880);
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
@media (max-width: 1200px) {
  .footer-list {
    gap: calc(10px + 40 * (100vw - 320px) / 880);
  }
}
.footer-list__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}
.footer-list__link:hover {
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .footer-list__link {
    font-size: calc(14px + 4 * (100vw - 320px) / 880);
  }
}

.footer-decor {
  margin: 0 40px;
}
@media (max-width: 480px) {
  .footer-decor {
    display: none;
  }
}
.footer-decor__img {
  max-width: 100%;
}

.none {
  display: none;
}

.hidden {
  overflow: hidden;
}

.fixed {
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.show-header {
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.show-header .header__container {
  min-height: 60px;
}
.show-header .decor {
  height: 60px;
}