@import "var";

[class*='__container'] {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding-top: 80px;
}

body {
    font-family: Montserrat;
    font-size: 20px;
}
.footer {
    margin-top: auto;
}